page-contact-us {
.half{
    width: 40%;
    margin : auto;
}
.quater{
    margin : auto;
    width: 70%;
}
ion-textarea,ion-input{
    border: 1px solid map-get($colors,primary);
}
ion-select{
    border: 1px solid map-get($colors,primary);
}
}

