<ion-header>
  <ion-navbar padding>
    <ion-title>
      <img (click)="gtBP()" ion-button clear src="assets/imgs/beaLogo.png" /><br />
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="gtHIW()">How it Works</button>
      <button ion-button>Insights</button>
      <button ion-button (click)="gtCU()">Contact Us</button>
      <button *ngIf="userIn" ion-button (click)="gtLogin()">Login</button>
      <button *ngIf="userIn" ion-button (click)="gtSignUp()">Sign Up</button>
      <button ion-button outline (click)="gtDashboard()" *ngIf="!userIn" color="secondary">Go to Dashboard</button>

    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="half" padding-top margin-top>
    <h1 ion-text text-center color="primary">Have a question/suggestion.</h1>
    <h5 ion-text text-center style="color : grey">
      We're always eager to hear from you and would be glad to be of assistance
    </h5>
    <div class="quater">
      <ion-item margin-top>
        <ion-input type="text" [(ngModel)]="name" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item margin-top>
        <ion-input type="email" [(ngModel)]="mail" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item margin-top>
        <ion-select [(ngModel)]="userType" placeholder="I am">
          <ion-option value="An Expert">An Expert</ion-option>
          <ion-option value="A Business">A Business</ion-option>
          <ion-option value="A Boutique Consulting Firm">A Boutique Consulting Firm</ion-option>
          <ion-option value="Other">Other</ion-option>
        </ion-select>
      </ion-item>

      <ion-item margin-top>
        <ion-select [(ngModel)]="helpType" placeholder="I need assistance in">
          <ion-option value="Technical Support">Technical Support</ion-option>
          <ion-option value="Project related query">Project related query</ion-option>
          <ion-option value="T&C"> T&C </ion-option>
          <ion-option value="About BEA">About BEA</ion-option>
          <ion-option value="Career Opportunities at BEA">Career Opportunities at BEA</ion-option>
          <ion-option value="PR">PR</ion-option>
          <ion-option value="Others">Others</ion-option>
        </ion-select>
      </ion-item>

      <ion-item margin-top>
        <ion-textarea [(ngModel)]="query" placeholder="Type your query here..." rows="8"></ion-textarea>
      </ion-item>

      <button margin-top float-right ion-button (click)="checkData()">Submit</button>
    </div>
  </div>

</ion-content>