page-sign-up {
    .half{
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50% );
        transform: translate(-50%);
        width: 40%;
    }
    .quater{
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50% );
        transform: translate(-50%);
        width: 70%;
    }
    ion-textarea,ion-select,ion-input{
        border: 1px solid map-get($colors,primary);
    }
    .under{
        border-bottom : 1px solid map-get($colors,primary);
        cursor: pointer;
    }

}
